# Dist
/dist

# Hidden files
/.*

# Symlinks
/conf/.config
/conf/files
/conf/patches
/feeds/chirpstack-openwrt-feed/apps/node-red/files/gui/
/feeds/chirpstack-openwrt-feed/apps/node-red/files/gui/index.html
